<html>
<head>
<title> Employee Details </title>
</head>
<body>
</body>
<h1> Employee Details </h1>
<br/>
<p>
<strong> Name: </strong> <%= params[:fname] %>
<br/>
<br/>
<strong> Last name: </strong> <%= params[:lname] %>
<br/>
<br/>
<strong> Age: </strong> <%= params[:age] %>
<br/>
<br/>
<strong> E-Mail: </strong> <%= params[:email] %>
<br/>
<br/>
Yet another sinatra project :-D
</p>
</html>
