<html>
<head>
<title>Employment Form</title>
</head>
<body>
<form action="/details" method="post">
<strong> Name: </strong>
<input type="text" name="fname" />
<br/>
<br/>
<strong> Last name: </strong>
<input type="text" name="lname" />
<br/>
<br/>
<strong> Age: </strong>
<input type="number" name="age" value="18" />
<br/>
<br/>
<strong> E-Mail: </strong>
<input type="email" name="email" />
<br/>
<br/>
<input type="submit" value="Send" />
<br/>
</form>
</body>
</html>
